<ion-header>
  <ion-toolbar color="secondary">
    <ion-title align=center>        Jugador:{{NombreUss}}   </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding align=center>
<form>
 
<ion-card>
    Maquina:{{ContMaq}}<br>
     Vos:{{ContUsr}}
</ion-card>

  <br><br>
 
  <div *ngIf=veoTodo>	
     Tu eleccion:<br><br>
     <div *ngIf=veoVos1>	
       <button ion-button color="light" (click)="Jugar('piedra')" large><img style="border-radius:22px;" [ngStyle]="{'width.px':anchoDeFoto, 'height.px':altoDeFoto}" [src]="rutaDeFoto"></button>
       <button ion-button color="light" (click)="Jugar('papel')"  large><img style="border-radius:22px;" [ngStyle]="{'width.px':anchoDeFoto, 'height.px':altoDeFoto}" src="assets/img/papel.jpg"></button>  
       <button ion-button color="light" (click)="Jugar('tijera')" large><img style="border-radius:22px;" [ngStyle]="{'width.px':anchoDeFoto, 'height.px':altoDeFoto}" src="assets/img/tijeras.jpg"></button>
      
      <br><br>
      </div>

      <div *ngIf=veoVos2>
       <img  [src]="imgElect" style="border-radius:22px;" [ngStyle]="{'width.px':anchoDeFoto}">
      </div>
        <div *ngIf="vermaq">
        La maquina:<br><br>
       <img  [src]="img" style="border-radius:22px;" [ngStyle]="{'width.px':anchoDeFoto}">
        <br><br>
        </div>
        <div *ngIf=veoini>	
         <br> <h1> {{resultadoJugada}} </h1>
        <!--  <input type="button" value="Siguiente Ronda!" (click)="YaJugue()">-->
        </div>
        <br><br>
    
  </div>
  
  <div *ngIf=veoTodo2>	
     <br><br>
    <img [src]="img2" style="border-radius:15px;" width=200 height=200><br><br>
    <button ion-button color="secondary" (click)="VEmpezar()">Volver a empezar!</button>

  </div>
</form>


</ion-content>
