<ion-header class=miclase>
  
    <ion-title align=left>
        Jugador:{{NombreUss}}     
     </ion-title>

</ion-header>

<ion-content padding align=center class=otraclase>
<form>
  <div align=left>
    Maquina:{{ContMaq}}<br>
    Vos:{{ContUsr}}
  </div>
  <br><br>

  <div *ngIf=veoTodo>	
     Tu eleccion:<br><br>
     <div *ngIf=veoVos1>	
       
        <button (click)="Jugar('piedra')" style="border-radius:22px;">  <img style="border-radius:22px;" [ngStyle]="{'width.px':anchoDeFoto, 'height.px':altoDeFoto}" [src]="rutaDeFoto"></button>
        <button (click)="Jugar('papel')" style="border-radius:22px;"> <img style="border-radius:22px;" [ngStyle]="{'width.px':anchoDeFoto, 'height.px':altoDeFoto}" src="assets/img/papel.jpg"> </button>
        <button (click)="Jugar('tijera')" style="border-radius:22px;" > <img style="border-radius:22px;" [ngStyle]="{'width.px':anchoDeFoto, 'height.px':altoDeFoto}" src="assets/img/tijeras.jpg"> </button>
        <br><br>
      </div>

      <div *ngIf=veoVos2>
       <img  [src]="imgElect" style="border-radius:22px;" [ngStyle]="{'width.px':anchoDeFoto}">
      </div>
        <div *ngIf="vermaq">
        La maquina:<br><br>
       <img  [src]="img" style="border-radius:22px;" [ngStyle]="{'width.px':anchoDeFoto}">
        <br><br>
        </div>
        <div *ngIf=veoini>	
         <br> <h1> {{resultadoJugada}} </h1>
        <!--  <input type="button" value="Siguiente Ronda!" (click)="YaJugue()">-->
        </div>
        <br><br>
    
  </div>
  
  <div *ngIf=veoTodo2>	
     <br><br>
    <img [src]="img2" style="border-radius:15px;" width=200 height=200><br><br>
    <input type="button" value="Volver a empezar!" class=myButton (click)="VEmpezar()">
  </div>
</form>


</ion-content>
