<ion-header>
  <ion-navbar>
    <ion-title align=left>
       Jugador:{{NombreUss}}     <br>         
                Maquina:{{ContMaq}}<br>
                Vos:{{ContUsr}}
     </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding align=center>

<form>
  <br><br>

  <div *ngIf=veoTodo>	
     Vos:<br><br>
     <div *ngIf=veoVos1>	
       
        <button (click)="Jugar('piedra')">  <img [ngStyle]="{'width.px':anchoDeFoto, 'height.px':altoDeFoto}" [src]="rutaDeFoto"></button>
        <button (click)="Jugar('papel')"> <img [ngStyle]="{'width.px':anchoDeFoto, 'height.px':altoDeFoto}" src="assets/img/papel.jpg"> </button>
        <button (click)="Jugar('tijera')"> <img [ngStyle]="{'width.px':anchoDeFoto, 'height.px':altoDeFoto}" src="assets/img/tijeras.jpg"> </button>
        <br><br>
      </div>

      <div *ngIf=veoVos2>
       <img  [src]="imgElect" [ngStyle]="{'width.px':anchoDeFoto}">
      </div>
        <div *ngIf="vermaq">
        La maquina:<br><br>
       <img  [src]="img" [ngStyle]="{'width.px':anchoDeFoto}">
        <br><br>
        </div>
        <div *ngIf=veoini>	
          <input type="button" value="Siguiente Ronda!" (click)="YaJugue()">
        </div>
        <br><br>
    
  </div>
  
  <div *ngIf=veoTodo2>	
     <br><br>
    <img [src]="img2" width=200 height=200><br><br>
    <input type="button" value="Volver a empezar!" (click)="VEmpezar()">
  </div>
</form>


</ion-content>
