page-login {

 

} 
 
//nav

	.toolbar-background{
		background-color: hotpink;
		}	
	.toolbar-title-md{
		font: small-caps 100%/200% serif !important;
	}
//end

//header
	.header-md{
		background-color: hotpink
	}
//end


//gral body 
	.scroll-content{
		background-image: "assets/img/fondo.jpg"; 
		//background-color:white; 
		font: small-caps 100%/200% serif !important;
			}
//end

 