<ion-header >
  <ion-toolbar color="dark">
    <ion-title align=center>Jugador: {{nombre}} </ion-title>
  </ion-toolbar>
 </ion-header> 
 
<ion-content padding>
	<form>
 <div *ngIf=veoini>	
 		<p class="caja"> {{ pregunta }}</p>
		 <button ion-button full (click)="verResp(pregunta,r1,1)" [disabled]="estado" color="{{btncolor1}}">{{r1}}</button><br>
		 <button ion-button full (click)="verResp(pregunta,r2,2)" [disabled]="estado" color="{{btncolor2}}">{{r2}}</button><br>
 		 <button ion-button full (click)="verResp(pregunta,r3,3)" [disabled]="estado" color="{{btncolor3}}">{{r3}}</button><br>
		 <button ion-button full (click)="verResp(pregunta,r4,4)" [disabled]="estado" color="{{btncolor4}}">{{r4}}</button><br>
		 <strong><div *ngIf=verrespOK> Respuesta correcta: {{respOk}} </div></strong>
	 </div>

 <div *ngIf=veo align=center>	 
	<!--	<input type="button" (click)="verPreguntaYResp(contador)" value="Siguiente >>"><br><br>	--> 
 </div>

 <div *ngIf=veoFin align=center>	
	 <strong> 
		{{resultOK}}<br><br>
		{{resultNoOK}}<br><br> </strong>
		<button ion-button color="dark" (click)=volverAEmpezar()>Volver </button>
 </div>

<!--<li *ngFor="let item of usuarios|async">{{item.nombre}}</li>-->
	</form>
</ion-content>
