<ion-header>
 
  <ion-navbar class="barr" > 
Jugador: {{nombre}}    
  </ion-navbar>
</ion-header>

<ion-content padding>
	<form>
 <div *ngIf=veoini>	
 		<p class="caja"> {{ pregunta }}</p>
	  <input type="button" (click)="verResp(pregunta,r1,1)" value={{r1}} [ngStyle]="{'background-color':btncolor1}" style="border-radius:42px" ><br><br>
		<input type="button" (click)="verResp(pregunta,r2,2)" value={{r2}} [ngStyle]="{'background-color':btncolor2}" style="border-radius:42px"><br><br>
		<input type="button" (click)="verResp(pregunta,r3,3)" value={{r3}} [ngStyle]="{'background-color':btncolor3}" style="border-radius:42px"><br><br>
		<input type="button" (click)="verResp(pregunta,r4,4)" value={{r4}} [ngStyle]="{'background-color':btncolor4}" style="border-radius:42px"><br><br>
  </div>

 <div *ngIf=veo align=center>	 
	<!--	<input type="button" (click)="verPreguntaYResp(contador)" value="Siguiente >>"><br><br>	--> 
 </div>

 <div *ngIf=veoFin align=center>	 
		{{resultOK}}<br><br>
		{{resultNoOK}}<br><br>
		<input type="button" (click)=volverAEmpezar() value="Volver" style="border-radius:30px" >
 </div>

<!--<li *ngFor="let item of usuarios|async">{{item.nombre}}</li>-->
	</form>
</ion-content>
